<nz-sider [nzWidth]="360" [nzCollapsedWidth]="0" [nzCollapsed]="!show" [nzTrigger]="null" class="slider-div root-slider">
    <div class="slider-inner">
        <div class="slider-listgp">
            <img src="assets/img/icon.jpg" class="main-icon" />
            <p class="name-title">
                <span>{{AppMain.Owner}}</span>
            </p>
            <p class="legend-title" [title]="AppMain.Description">
                <b>{{AppMain.Title}}</b>
            </p>
            <hr style="margin-top:12px;" />
            <div>
                <ul class="slider-ul">
                    <li>
                        <p>
                            <a [routerLink]="RouteLinks.AdminDashboard" queryParamsHandling="merge" routerLinkActive="active" xi18n>Dashboard</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a [routerLink]="RouteLinks.AdminStatus" queryParamsHandling="merge" routerLinkActive="active" xi18n>Status</a>
                        </p>
                    </li>
                    <li>
                        <p xi18n>Posts</p>
                    </li>
                    <li>
                        <p xi18n>Notes</p>
                    </li>
                    <li>
                        <p>
                            <a [routerLink]="RouteLinks.Home" queryParamsHandling="merge" routerLinkActive="active" xi18n>Home</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nz-sider>