@import "./../root/root";

.root-user-div{
    position:absolute;
    top:calc(100vh - 72px) ;
    left: calc(100vw - 80px);
    transition: 0.4s;
    -o-transition:0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.two-icons{
    top:calc(100vh - 152px) ;
}

.three-icons{
    top:calc(100vh - 232px) ;
}

.root-user-div div{
    margin-bottom: 12px;
}

.refresh-color{
    background-color: #ff406a
}

.refresh-icon{
    margin-left:10px;
    margin-top:10px;
    font-size:28px;
    color: #fff;
}

@media(max-width:768px){

    .root-user-div{
        top:calc(100vh - 52px) ;
        left: calc(100vw - 60px);
    }
    
    .two-icons{
        top:calc(100vh - 112px) ;
    }
    
    .three-icons{
        top:calc(100vh - 172px) ;
    }

    .refresh-icon{
        margin-left:10px;
        margin-top:10px;
        font-size:20px;
    }
}