<div class="root-user-div root-user-div-top" [class.root-user-div-top]="ShowSlider">
    <!-- logined  Mobile view : Open user profile-->
    <div *ngIf="Logined&&!IsWideScreen" class="avatar-div" (click)="ShowUserMenu()">
        <div *ngIf="CurrentUser.Photo">
            <img [src]="CurrentUser.Photo" class="avatar-icon root-menu-icon-shadow" />
        </div>
        <div *ngIf="!CurrentUser.Photo" class="avatar-icon avatar-blue root-menu-icon-shadow">
            <i class="anticon anticon-user nologin-icon"></i>
        </div>
    </div>
    <!-- logined  PC view : Open user profile-->
    <nz-popover *ngIf="Logined&&IsWideScreen" [nzTitle]="CurrentUser.FriendlyName" [(nzVisible)]="ShowPopover" [nzTrigger]="'click'"
        [nzPlacement]="'leftBottom'">
        <div class="avatar-div" nz-popover>
            <div *ngIf="CurrentUser.Photo">
                <img [src]="CurrentUser.Photo" class="avatar-icon root-menu-icon-shadow" /> - </div>
            <div *ngIf="!CurrentUser.Photo" class="avatar-icon avatar-blue root-menu-icon-shadow">
                <i class="anticon anticon-user nologin-icon"></i>
            </div>
        </div>
        <ng-template #nzTemplate>
            <p>
                <a (click)="ToUserProfile()">Profile</a>
            </p>
            <p *ngIf="CurrentUser.Role==='admin'||CurrentUser.Role==='core'">
                <a (click)="ToAdminDashboard()">Manage</a>
            </p>
            <p>
                <a (click)='Logout()'>Logout</a>
            </p>
        </ng-template>
    </nz-popover>
    <!-- unlogined icon button : go to sign in-->
    <div *ngIf="!Logined" class="avatar-icon avatar-dark">
        <a [routerLink]="RouteLinks.Login" routerLinkActive="active">
            <i class="anticon anticon-user nologin-icon"></i>
        </a>
    </div>
    <!-- Mobile Main Menu  -->
    <div *ngIf="!ShowSlider" class="root-menu-icon root-menu-icon-shadow">
        <a (click)="ShowMainMenu()">
            <i class="anticon anticon-inbox"></i>
        </a>
    </div>
</div>