<div class="root-user-div root-user-div-top" [class.root-user-div-top]="ShowSlider">
    <div *ngIf="Logined" class="avatar-div" (click)="ShowUserMenu()">
        <div *ngIf="CurrentUser.Photo">
            <img [src]="CurrentUser.Photo" class="avatar-icon root-menu-icon-shadow" />
        </div>
        <div *ngIf="!CurrentUser.Photo" class="avatar-icon avatar-blue root-menu-icon-shadow">
            <i class="anticon anticon-user nologin-icon"></i>
        </div>
    </div>
    <div *ngIf="!Logined" class="avatar-icon avatar-dark">
        <a [routerLink]="RouteLinks.Login" routerLinkActive="active">
            <i class="anticon anticon-user nologin-icon"></i>
        </a>
    </div>
    <div *ngIf="!ShowSlider" class="root-menu-icon root-menu-icon-shadow">
        <a (click)="ShowMainMenu()">
            <i class="anticon anticon-inbox"></i>
        </a>
    </div>
</div>