<div class="root-user-div" [class.two-icons]="ShowType=== 'two' " [class.three-icons]="ShowType=== 'three' ">
    <!-- logined  Mobile view : Open user profile-->
    <div *ngIf="Logined&&!IsWideScreen" class="avatar-div" (click)="ShowUserMenu()">
        <div *ngIf="CurrentUser.Photo" class="avatar-icon root-menu-icon-shadow">
            <img [src]="CurrentUser.Photo" class="avatar-icon" />
        </div>
        <div *ngIf="!CurrentUser.Photo" class="avatar-icon avatar-blue root-menu-icon-shadow">
            <i class="anticon anticon-user nologin-icon"></i>
        </div>
    </div>
    <!-- logined  PC view : Open user profile-->
    <nz-popover *ngIf="Logined&&IsWideScreen" [nzTitle]="CurrentUser.FriendlyName" [(nzVisible)]="ShowPopover" [nzTrigger]="'click'"
        [nzPlacement]="'leftBottom'">
        <div class="avatar-div" nz-popover>
            <div *ngIf="CurrentUser.Photo" class="avatar-icon root-menu-icon-shadow">
                <img [src]="CurrentUser.Photo" class="avatar-icon" /> - </div>
            <div *ngIf="!CurrentUser.Photo" class="avatar-icon avatar-blue root-menu-icon-shadow">
                <i class="anticon anticon-user nologin-icon"></i>
            </div>
        </div>
        <ng-template #nzTemplate>
            <p>
                <a (click)="ToUserProfile()">Profile</a>
            </p>
            <p *ngIf="CurrentUser.Role==='admin'||CurrentUser.Role==='core'">
                <a (click)="ToAdminDashboard()">Manage</a>
            </p>
            <p>
                <a (click)='Logout()'>Logout</a>
            </p>
        </ng-template>
    </nz-popover>
    <!-- unlogined icon button : go to sign in-->
    <div *ngIf="!Logined" class="avatar-icon avatar-dark">
        <a [routerLink]="RouteLinks.Login" routerLinkActive="active">
            <i class="anticon anticon-user nologin-icon"></i>
        </a>
    </div>
    <!-- refresh button-->
    <div *ngIf="ShowRefresh" class="avatar-icon refresh-color" (click)="RefreshInvoke()">
        <a>
            <i class="anticon anticon-sync refresh-icon"></i>
        </a>
    </div>
    <!-- Mobile Main Menu : <768 -->
    <div *ngIf="!ShowSlider&&!IsWideScreen" class="root-menu-icon root-menu-icon-shadow" (click)="ShowMainMenu()">
        <a>
            <i class="anticon anticon-inbox root-menu-size"></i>
        </a>
    </div>
    <!-- Laptop-PC Main Menu : <1280 >768 -->
    <nz-popover *ngIf="!ShowSlider&&IsWideScreen" nzTitle="MENU" [(nzVisible)]="ShowMenu" [nzTrigger]="'click'" nzPlacement="leftBottom">
        <div class="root-menu-icon root-menu-icon-shadow">
            <a nz-popover>
                <i class="anticon anticon-inbox root-menu-size"></i>
            </a>
        </div>
        <ng-template #nzTemplate>
            <p class="root-menu-item">
                <a [routerLink]="RouteLinks.Home" routerLinkActive="active">Home</a>
            </p>
            <p class="root-menu-item">
                <a (click)="RefreshAndGoToStatus()">Status</a>
            </p>
            <p class="root-menu-item">Posts</p>
            <p class="root-menu-item">Notes</p>
            <p *ngIf="Logined&&(CurrentUser.Role==='admin'||CurrentUser.Role==='core')" class="root-menu-item">
                <a [routerLink]="RouteLinks.AdminDashboard" routerLinkActive="active">Manage</a>
            </p>
        </ng-template>
    </nz-popover>

</div>