@import './../../shared/components/index/index.scss';

.custom-card p{
    color: #484848;
    margin-left:-10px;
}

.vm-index-title{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    font-size: 16px;
    margin-left: -10px;
}

:host ::ng-deep .vm-index-title img{
    width:22px;
}

.card-top-line{
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: -10px;
    margin-right:-12px;
}

.card-top-tip{
    float:right;
    margin-right: 4px;
}

.pending-div{
    margin-left:4px;
    margin-right:4px;
}

.pending-right{
    float:right;
    margin-right:4px;
}

@media(max-width:768px){
    .vm-index-title{
        font-size: 14px;
    }

    :host ::ng-deep .vm-index-title img{
        width:18px;
    }
}