@import "./../../shared/styles/base.scss";

.vm-tieba-group{
    padding: 8px;
    max-width: 800px;
    margin-bottom: 24px;
}

@media(max-width:768px){
    .vm-tieba-group{
        padding: 8px;
        max-width: 800px;
        margin-bottom: 48px;
        max-height:160px;
        overflow-y: auto;
    }
}

.vm-tieba-img{
    cursor:pointer;
    margin:4px;
}

.vm-img-cover{
    margin:-1px;
    margin-left:0.5px;
    margin-right:0.5px;
}

.vm-icon-div{
    margin-top: 9px;
}

.vm-icon-div i {
    display: inline-block;
    font-size:20px
}

:host ::ng-deep .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    padding: 0px 16px 4px;
}

:host ::ng-deep .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
    height: 38px;
}

.label-img{
    margin-top:5px;
}