<nz-tabset nzTabPosition="top" nzSize="small" nzType="card">
    <nz-tab>
        <ng-template #nzTabHeading>
            <div class="vm-icon-div">
                <i class="anticon  anticon-clock-circle-o"></i>
            </div>
        </ng-template>
        <div class="vm-tieba-group" *ngIf="cache.length>0">
            <img class="vm-tieba-img" width="28" *ngFor="let img of cache" [title]="img.key | keyDisplay" [alt]="img.key" [src]="Formator.ImageConnect(img.value)"
                (click)="StickerClicked(img)" />
        </div>
        <div class="vm-tieba-group" *ngIf="cache.length===0">
            <p xi18n section="stickers">你最近还没有使用任何表情。</p>
        </div>
    </nz-tab>
    <nz-tab *ngFor="let group of stickers">
        <ng-template #nzTabHeading>
            <img [src]="group.cover" height="21" class="label-img" [title]=" group.title | xi18n:'stickers' " />
        </ng-template>
        <div *ngIf="group.colls" class="vm-tieba-group">
            <img class="vm-tieba-img" width="28" *ngFor="let img of group.colls" [title]="img.key | keyDisplay" [alt]="img.key" [src]="Formator.ImageConnect(img.value)"
                (click)="StickerClicked(img)" />
        </div>
    </nz-tab>
    <nz-tab *ngIf="uploadEnabled">
        <ng-template #nzTabHeading>
            <div class="vm-icon-div">
                <i class="anticon anticon-picture"></i>
            </div>
        </ng-template>
        <div class="vm-tieba-group">

        </div>
    </nz-tab>
</nz-tabset>