<div *ngIf="VM" class="vm-padding">
    <div *ngIf="VM.Creator" class="vm-header" nz-row nzType="flex" nzJustify="left">
        <div nz-col class="vm-avatar">
            <div *ngIf="VM.Creator.Avatar">
                <img [src]="VM.Creator.Avatar" class="avatar-icon" />
            </div>
            <div *ngIf="!VM.Creator.Avatar" class="avatar-icon avatar-blue">
                <i class="anticon anticon-user nologin-icon"></i>
            </div>
        </div>
        <div nz-col>
            <p class="vm-username">{{VM.Creator.UserName}}</p>
            <p class="vm-stamp">{{VM.CreateTime.FormatDate}}</p>
        </div>
    </div>
    <div class="vm-container">
        <p>{{VM.Content}}</p>
        <tassel-common-imggrid gridType="grid" [images]="VM.ParseUrls(ImageSrcRoot)" [canPointer]="true" (ImageClicked)="OnImageClicked($event)"></tassel-common-imggrid>
        <button nz-button (click)="OpenCommentPanel()">Add comment</button>
    </div>
    <div class="vm-comments-div">
        <div class="vm-comments-header" nz-row nzType="flex">
            <div nz-col>
                <p *ngIf="VM.CommentCount<=1">{{VM.CommentCount}} COMMENT</p>
                <p *ngIf="VM.CommentCount>1">{{VM.CommentCount}} COMMENTS</p>
            </div>
            <div nz-col>
                <p *ngIf="VM.LikersCount<=1">{{VM.LikersCount}} LIKE</p>
                <p *ngIf="VM.LikersCount>1">{{VM.LikersCount}} LIKES</p>
            </div>
        </div>
        <div class="vm-comments">
            <div *ngIf="IsEdit" class="vm-comt-edit">
                <nz-input nzType="textarea" nzRows="8" nzPlaceHolder="Input your reply here." [(ngModel)]="CommentToUpload" #replyInput></nz-input>
                <div *ngIf="TiebaImages" class="vm-tieba-group">
                    <img class="vm-tieba-img" width="24" *ngFor="let img of TiebaImages" [title]="img.key" [alt]="img.key" [src]="Formator.ImageConnect(img.value)"
                        (click)="TiebaImageClicked(img)" />
                </div>
                <button nz-button nzType="primary" (click)="AddComment()">Submit</button>
            </div>
            <p *ngIf="!VM.Comments||VM.Comments.length===0">No comment yet.</p>
            <div class="vm-comt" *ngFor="let com of VM.Comments">
                <div style="display:flex">
                    <div>
                        <b>{{com.Creator.UserName}}</b> :
                    </div>
                    <div>
                        <p [innerHtml]="Formator.ImageTickParse(com.Content,TiebaImages)"></p>
                    </div>
                </div>
                <div class="vm-comt-stamp">
                    <a class="vm-comt-reply">Reply</a>
                    <p>{{com.CreateTime.FormatDateTime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>