@import './../../shared/styles/design.scss';
@import './../../shared/styles/content.scss';

.vm-padding{
    @extend .cont-padd-tb;
    @extend .cont-padd-lr;
}

.vm-inner-mg{
    @extend .cont-inner-margin;
}

.vm-container{
   font-size: 16px;
   padding: 4px;
   color:#686868;
}

.vm-header {
    padding-top: 4px;
    padding-bottom: 8px;
}

.vm-comments-div{
    @extend .vm-inner-mg;
    margin-top:12px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #efefef;
    border: 1px solid transparent;
}

.vm-comments-header{
    margin-top:12px;
    margin-bottom:12px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: white;
}

.vm-comments-header p{
    @extend .cont-padd-lr;
    font-weight: bold;
    font-size: 20px;
    line-height: 2em;
}

.vm-comments-add{
    @extend .cont-margin-lr;
    float:right;
    margin-top:4px;
    margin-bottom:4px;
}

.vm-comments{
    margin-top:0px;
    margin-bottom: -1px;
}

.vm-comt{
    @extend .cont-padd-lr;
    margin-left: -1px;
    margin-right: -1px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fff;
    font-size: 16px;
    transition: 0.5s;
}

.vm-comt:hover{
    transition: 0.5s;
    background-color: #f5f5f5;
}

.vm-comt-edit{
    padding:4px;
}

.vm-comt-stamp{
    color:#888;
    font-size: 12px;
}

.vm-comt-reply{
    float:right;
    margin-right:4px;
}

.vm-avatar{
    padding-right: 8px;
}

.vm-username{
    font-weight: bold;
    font-size: 20px
}

.vm-stamp{
    color: #bcbcbc;
    font-size: 12px
}

.vm-tieba-group{
    padding: 8px;
    max-width: 800px;
}

.vm-tieba-img{
    cursor:pointer;
    margin:4px;
}

