@import './../../shared/styles/design.scss';

.vm-container{
   font-size: 16px;
   padding: 4px;
   color:#686868;
}

.vm-header {
    padding-top: 4px;
    padding-bottom: 8px;
}

.vm-comments-div{
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #efefef;
    border: 1px solid #e6e6e6;
}

.vm-comments-header{
    background-color: white;
}

.vm-comments-header p{
    padding-left: 4px;
    font-weight: bold;
    font-size: 20px;
    line-height: 2em;
}

.vm-comments{
    margin-top:2px;
}

.vm-comt{
    padding: 4px;
    font-size: 16px;
    transition: 0.5s;
}

.vm-comt:hover{
    transition: 0.5s;
    background-color: #fff;
}

.vm-comt-edit{
    padding:4px;
}

.vm-comt-stamp{
    color:#888;
    font-size: 12px;
}

.vm-comt-reply{
    float:right;
    margin-right:4px;
}

.vm-avatar{
    padding-right: 8px;
}

.vm-username{
    font-weight: bold;
    font-size: 20px
}

.vm-stamp{
    color: #bcbcbc;
    font-size: 12px
}

.vm-tieba-group{
    padding: 8px;
    max-width: 800px;
}

.vm-tieba-img{
    cursor:pointer;
    margin:4px;
}

