<div>
    <div style="display:flex">
        <div style="min-width:48px;">
            <img *ngIf="Comment.Creator.Avatar" class="vm-avatar-md" [alt]="Comment.Creator.UserName" [src]="Comment.Creator.Avatar"
            />
            <img *ngIf="!Comment.Creator.Avatar" class="vm-avatar-md" alt="no avatar." src="/assets/img/unknown.png" />
        </div>
        <div>
            <p>
                <b class="vm-username-md">{{Comment.Creator.UserName}}</b>
            </p>
            <p class="vm-stamp-md">{{Comment.CreateTime.FormatDateTime}}</p>
            <p class="vm-coment-details" [innerHtml]="Formator.ImageTickParse(Comment.Content,TiebaImages)"></p>
        </div>
    </div>
    <div class="vm-comt-stamp">
        <a class="vm-comt-reply" (click)="ReplyClicked()">Reply</a>
    </div>
    <div *ngFor="let reply of Comment.Comments" class="vm-secn-comment">
        <p class="vm-secn-text">
            <b class="vm-secn-name">{{reply.Creator.UserName}} :</b>
            <a>@{{reply.Mentioned.UserName}}</a>
            <span [innerHtml]="Formator.ImageTickParse(reply.Content,TiebaImages)"></span>
        </p>
    </div>
    <tassel-common-comtedit [show]="VM.ShowReply" [mentioned]="Comment.Creator" transparent=true (OnCommentAdd)="AddComment($event)"></tassel-common-comtedit>
</div>