<div>
    <div style="display:flex">
        <div style="min-width:48px;">
            <img *ngIf="Comment.Creator.Avatar" class="vm-avatar-md" [alt]="Comment.Creator.UserName" [src]="Comment.Creator.Avatar"
            />
            <img *ngIf="!Comment.Creator.Avatar" class="vm-avatar-md" alt="no avatar." src="/assets/img/unknown.png" />
        </div>
        <div>
            <p>
                <b class="vm-username-md">{{Comment.Creator.UserName}}</b>
            </p>
            <p class="vm-stamp-md">{{Comment.CreateTime.FormatDateTime}}</p>
            <div class="vm-coment-details" [innerHtml]="Formator.ImageTickParse(Comment.Content,AllResources, 24)"></div>
        </div>
    </div>
    <div *ngIf="CanAct" class="vm-comt-stamp vm-comt-reply">
        <a (click)="ReplyClicked()">Reply</a>
        <span *ngIf="IsCreator()"> |
            <a (click)="DeleteClicked()">Delete</a>
        </span>
    </div>
    <div *ngFor="let reply of Comment.Comments" class="vm-secn-comment">
        <div class="vm-secn-text">
            <b class="vm-secn-name">{{reply.Creator.UserName}} :</b>
            <a class="vm-at-link" (click)="GoToUserDetails(reply.Mentioned)">@{{reply.Mentioned.UserName}}</a>
            <div class="vm-reply-details" [innerHtml]="Formator.ImageTickParse(reply.Content,AllResources, 20)"></div>
        </div>
        <div nz-row class="vm-reply-sumy">
            <div nz-col nzSpan="12">
                <p class="vm-stamp-md">{{reply.CreateTime.FormatDateTime}}</p>
            </div>
            <div *ngIf="CanAct" class="vm-reply-md" nz-col>
                <a (click)="ReplyClicked(reply.Creator)">Reply</a>
                <span *ngIf="IsCreator(reply)"> |
                    <a (click)="DeleteClicked(reply)">Delete</a>
                </span>
            </div>
        </div>
    </div>
</div>