<div TasselPadding [PaddingDetails]="[16,8,0,8]">
    <tassel-common-waterfall [data]="Posts" [loader]="postsProvide" [template]="temp"></tassel-common-waterfall>
</div>

<ng-template let-model="model" #temp>
    <div *ngIf="model">
        <nz-card class="card-div card-fadin" [nzBordered]="false">
            <ng-template #body>
                <div class="custom-card">
                    <h3 *ngIf="model.Content">{{model.Content | shortline:36}}</h3>
                </div>
                <div *ngIf="model.Images.length>0" class="custom-image">
                    <tassel-common-imggrid [images]="model.ParseUrls(ImageSrcRoot)"></tassel-common-imggrid>
                </div>
                <div class="pending">
                    <div *ngIf="model.CreateTime" class="pending-right">
                        <i class="anticon anticon-tag"></i>
                        <span>{{Formator.TimeFormat(model.CreateTime)}}</span>
                    </div>
                    <div class="pending-div">
                        <i *ngIf="IsLiked(model)" class="anticon anticon-heart liked-user" (click)="ClickLike(model)"></i>
                        <i *ngIf="!IsLiked(model)" class="anticon anticon-heart-o like-hover" (click)="ClickLike(model)"></i>
                        <span>{{model.LikersCount}}</span>
                        <i class="anticon anticon-message"></i>
                        <span>{{model.CommentCount}}</span>
                    </div>
                </div>
            </ng-template>
        </nz-card>
    </div>
</ng-template>