<nz-sider [nzWidth]="360" [nzCollapsedWidth]="0" [nzCollapsed]="!show" [nzTrigger]="null" class="slider-div root-slider slider-background">
    <div class="slider-inner">
        <div class="slider-listgp">
            <img src="assets/img/icon.jpg" class="main-icon" />
            <p class="name-title">
                <span>{{AppMain.Owner}}</span>
            </p>
            <p class="legend-title" [title]="AppMain.Description">
                <b>{{AppMain.Title}}</b>
            </p>
            <hr style="margin-top:12px;border-color:transparent" />
            <div>
                <ul class="slider-ul">
                    <li>
                        <p>
                            <a [routerLink]="RouteLinks.Home" queryParamsHandling="merge" routerLinkActive="active" xi18n>Home</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a (click)="RefreshStatusAndGo()">{{ 'Status' | xi18n }}</a>
                        </p>
                    </li>
                    <li>
                        <p xi18n>Posts</p>
                    </li>
                    <li>
                        <p xi18n>Notes</p>
                    </li>
                    <li>
                        <p xi18n>Search</p>
                    </li>
                    <li *ngIf="Logined&&(CurrentUser.Role==='admin'||CurrentUser.Role==='core')">
                        <p>
                            <a [routerLink]="RouteLinks.AdminDashboard" queryParamsHandling="merge" routerLinkActive="active">{{'Manage' | xi18n}}</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="switch-group" nz-row>
        <div nz-col style="text-align:center">
            <tassel-switch [isOn]="true" (OnChanged)="OnThemeChanged($event)" [onLabel]=" 'Light' | xi18n:'left_container' " [closeLabel]=" 'Dark' | xi18n:'left_container' "
                [minWidth]="25"></tassel-switch>
        </div>
    </div>
</nz-sider>