<div TasselFullContent class="login-page">
    <div class="login-div">
        <div style="text-align:center">
            <i class="anticon anticon-user-add" style="font-size:48px;"></i>
            <h3 class="login-title">Register</h3>
        </div>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="SubmitForm()">
            <div nz-form-item>
                <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
                    <nz-input formControlName="userName" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
                        <ng-template #prefix>
                            <i class="anticon anticon-user"></i>
                        </ng-template>
                    </nz-input>
                    <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">Please input your username!</div>
                </div>
            </div>
            <div nz-form-item>
                <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
                    <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'" (keyup)="OnPsdInput(psd)"
                        #psd>
                        <ng-template #prefix>
                            <i class="anticon anticon-lock"></i>
                        </ng-template>
                    </nz-input>
                    <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
                </div>
            </div>
            <div nz-form-item>
                <div nz-form-control [nzValidateStatus]="validateForm.controls.recomf.valid||!validateForm.controls.recomf.dirty?'success':'error'">
                    <nz-input formControlName="recomf" [nzType]="'password'" [nzPlaceHolder]="'Password Confirm'" [nzSize]="'large'" (keyup)="CheckConfirm()">
                        <ng-template #prefix>
                            <i class="anticon anticon-lock"></i>
                        </ng-template>
                    </nz-input>
                    <div nz-form-explain *ngIf="validateForm.controls.recomf.dirty&&validateForm.controls.recomf.hasError('required')">Please input your Password!</div>
                    <div nz-form-explain *ngIf="validateForm.controls.recomf.dirty&&validateForm.controls.recomf.hasError('equalFailed')">Password confirm not matched!</div>
                </div>
            </div>
            <div nz-form-item style="margin-top:128px;">
                <div nz-form-control>
                    <label nz-checkbox formControlName="remember">
                      <span>Remember me and auto-login</span>
                    </label>
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">Register</button>Have
                    an account already? You can
                    <a [routerLink]="RouteLinks.Login" routerLinkActive="acrive">Login now</a> .
                </div>
            </div>
        </form>
    </div>

</div>