 .img-more{
     position: relative;
     background-color: #383838;
 }

 .img-more span {
   color: #fff;
   position: absolute;
   width:100%;
   float: right;
   bottom: 5%;
   left: 5%;
   font-weight: bold;
   font-size: 24px;
}

.img-pointer img{
    cursor: pointer;
}

:host ::ng-deep .img-margin{
    margin-right:1px;
    margin-bottom: 1px;
}

:host ::ng-deep .tb-margin{
    margin-right:1px;
    margin-bottom: 0px;
}

:host ::ng-deep .blur-img{
    opacity:0.3;
    margin-bottom: -4px;
}