
.vm-comt-edit{
    padding:8px;
    padding-bottom: 8px;
    background-color: #f3f3f3;
    margin-bottom: 8px;
}

.vm-comt-edit-transp{
    background-color: transparent;
}

.vm-tieba-group{
    padding: 8px;
    max-width: 800px;
}

.vm-tieba-img{
    cursor:pointer;
    margin:4px;
}

.vm-mentioned-name{
    font-size: 14px;
    font-weight: bold;
    color: rgb(86, 148, 230);
    margin-bottom: 4px;
}
