<div *ngIf="ShowEdit" class="vm-comt-edit vm-comt-edit-transp" [class.vm-comt-edit-transp]="IsTransparent">
    <p *ngIf="Mentioned" class="vm-mentioned-name">@{{Mentioned.UserName}}</p>
    <nz-input nzType="textarea" nzRows="8" nzPlaceHolder="Input your reply here." (keyup)="OnInputKeyUp()" [(ngModel)]="VM.Comment"
        #replyInput></nz-input>
    <div *ngIf="TiebaImages" class="vm-tieba-group">
        <img class="vm-tieba-img" width="24" *ngFor="let img of TiebaImages" [title]="img.key" [alt]="img.key" [src]="Formator.ImageConnect(img.value)"
            (click)="TiebaImageClicked(img)" />
    </div>
    <button nz-button nzType="primary" (click)="AddComment()">Submit</button>
</div>