<nz-layout class="main-div">

    <nz-affix>
        <tassel-left-common [config]="AppMain" [show]="!HideAll"></tassel-left-common>
    </nz-affix>

    <nz-affix *ngIf="!HideAll">
        <tassel-usericon-div [user]="CurrentUser" [showPopover]="ShowPopover" (onNavigated)="OnPopoverNavigated($event)"></tassel-usericon-div>
    </nz-affix>

    <nz-content class="content-div root-content " [class.root-content-grant]="HideAll">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <div class="root-content-container root-content-inner root-content-back root-content-noback" [class.root-content-noback]="!ShowBack&&IsWideScreen">
            <router-outlet></router-outlet>
        </div>
    </nz-content>

</nz-layout>