<div class="content" wsPadding [details]="IsWideScreen?[12,16,12,16]:[0,0,0,0]">
    <h2 xi18n section="messageBox">
        <span>Message Box</span>
    </h2>

    <nz-tabset class="tab-sets">

        <nz-tab>
            <ng-template #nzTabHeading>
                <span xi18n section="messageBox">Likes</span>
            </ng-template>
            <div class="tab-content">
                <tassel-common-loading *ngIf="!Loaded" [borderSize]="7" [borderLine]="1" borderColor="#585858"></tassel-common-loading>
                <tassel-common-wateriver *ngIf="Loaded" [data]="Likes" type="static" [template]="msgContent"></tassel-common-wateriver>
            </div>
        </nz-tab>

        <nz-tab>
            <ng-template #nzTabHeading>
                <span xi18n section="messageBox">Comments</span>
            </ng-template>
            <div class="tab-content">
                <tassel-common-loading *ngIf="!Loaded" [borderSize]="7" [borderLine]="1" borderColor="#585858"></tassel-common-loading>
                <tassel-common-wateriver *ngIf="Loaded" [data]="Comments" type="static" [template]="msgContent"></tassel-common-wateriver>
            </div>
        </nz-tab>


    </nz-tabset>

</div>

<ng-template let-model="model" let-index="index" #msgContent>

    <div class="msg-card" [class.grey-back]="index%2===1" [class.is-read]="model.IsRead" *ngIf="model" nz-row nzType="flex">
        <div class="avatar-group" nz-col [nzSpan]="IsWideScreen?2:3">
            <img *ngIf="model.Creator.Avatar" [src]="model.Creator.Avatar" />
            <img *ngIf="!model.Creator.Avatar" src="/assets/img/unknown.png" />
        </div>
        <div class="msg-ctgroup" nz-col [nzSpan]="IsWideScreen?22:21">
            <div class="msg-cthead" nz-row>
                <div nz-col nzSpan="12">{{model.Creator.UserName}}</div>
                <div class="text-right" nz-col nzSpan="12">{{model.CreateTime | timeFormat}}</div>
            </div>
            <div class="msg-dtgroup">
                <p>
                    <ng-container [ngSwitch]="model.MessageType">

                        <ng-container *ngSwitchCase="1">
                            <span xi18n section="messageBox">Replied you</span>

                            <ng-container *ngIf="model.Source.HostType===13">
                                <ng-container *ngTemplateOutlet="statusDisplay; context : {model:model.Source, id:model.ID}"></ng-container>
                            </ng-container>

                            <span xi18n section="messageBox">.</span>
                        </ng-container>

                        <ng-container *ngSwitchCase="2">
                            <span xi18n section="messageBox">Create a comment</span>

                            <ng-container *ngIf="model.Source.HostType===13">
                                <ng-container *ngTemplateOutlet="statusDisplay; context : {model:model.Source, id:model.ID}"></ng-container>
                            </ng-container>

                            <span xi18n section="messageBox">.</span>
                        </ng-container>

                        <ng-container *ngSwitchCase="3">
                            <span xi18n section="messageBox">Like your opinion</span>

                            <ng-container *ngIf="model.Source.HostType===13">
                                <ng-container *ngTemplateOutlet="statusDisplay; context : {model:model.Source, id:model.ID}"></ng-container>
                            </ng-container>

                            <span>.</span>
                        </ng-container>

                    </ng-container>
                </p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template let-model="model" #userDisplay>

</ng-template>

<ng-template let-model="model" #commentDisplay>

</ng-template>

<ng-template let-model="model" let-id="id" #statusDisplay>
    <span>{{ ' in status : ' | xi18n:'messageBox' }}</span>
    <span>"</span>
    <a (click)="GoToStatus(model.HostID, id)">
        <span class="fmt-absts" [innerHtml]="model.HostAbstract" #ctnHash></span>
        <span *ngIf="IsEmpry(model.HostAbstract)" xi18n section="messageBox">( click for more details )</span>
    </a>
    <span>"</span>
</ng-template>