
.wf-loading-div{
    margin-top: 0vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width:100%;
    text-align: center;
    background: rgba(238, 238, 238, 0.589);
}

.wf-loading-title{
    font-size: 18px;
    color: #2d9bce;
}

.wf-display{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    opacity: 1;
}

.wf-hidden{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    opacity: 0;
    margin-top:-10vh;
}
