<div TasselFullContent class="login-page">
    <div class="login-div" *ngIf="showView">
        <div style="text-align:center">
            <i class="anticon anticon-user" style="font-size:48px;"></i>
            <h3 class="login-title">Login</h3>
        </div>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="SubmitForm()">
            <div nz-form-item>
                <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
                    <nz-input formControlName="userName" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
                        <ng-template #prefix>
                            <i class="anticon anticon-user"></i>
                        </ng-template>
                    </nz-input>
                    <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">Please input your username!</div>
                </div>
            </div>
            <div nz-form-item>
                <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
                    <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
                        <ng-template #prefix>
                            <i class="anticon anticon-lock"></i>
                        </ng-template>
                    </nz-input>
                    <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
                </div>
            </div>
            <div nz-form-item style="margin-top:128px;">
                <div nz-form-control>
                    <label nz-checkbox formControlName="remember">
                  <span>Remember me</span>
                </label>
                    <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">Log in</button> Or
                    <a [routerLink]="RouteLinks.Register" routerLinkActive="acrive">Register now</a> .
                </div>
            </div>
        </form>
        <div class="login-footer">
            <p>Social Account Login</p>
            <hr/>
            <div class="trd-part-div">
                <a [href]="WeiboAuth"> <img src="http://www.sinaimg.cn/blog/developer/wiki/32.png" width="128" /></a>
            </div>
        </div>
    </div>

</div>