<div style="display:flex">
    <div style="min-width:68px;height:48px;cursor:pointer" (click)="GoToUserDetails()">
        <img *ngIf="Creator.Avatar" class="vm-avatar-md" [alt]="Creator.UserName" [wsAvatar]="Creator.Avatar" [title]="Creator.UserName"
        />
        <img *ngIf="!Creator.Avatar" class="vm-avatar-md" alt="no avatar." src="/assets/img/unknown.png" [title]="Creator.UserName"
        />
    </div>
    <div style="height:48px;line-height:3em;cursor:pointer" (click)="GoToUserDetails()">
        <b>{{Creator.UserName}}</b>
    </div>
</div>