<div TasselPadding [PaddingDetails]="[16,8,0,8]">
    <tassel-common-waterfall [data]="Posts" [loader]="postsProvide" [template]="temp"></tassel-common-waterfall>
</div>

<ng-template let-model="model" #temp>
    <div *ngIf="model">
        <nz-card class="card-div card-fadin" [nzBordered]="false">
            <ng-template #body>
                <div *ngIf="model.Cover" class="custom-image card-like-pointer">
                    <tassel-common-imggrid [src]="model.Cover"></tassel-common-imggrid>
                </div>
                <div class="custom-card card-like-pointer">
                    <h3 *ngIf="model.Title">{{model.Title}}</h3>
                    <p *ngIf="model.Summary" [style.margin-top]="model.Cover?'0px':'8px'">{{model.Summary}}</p>
                </div>
                <div class="pending">
                    <div *ngIf="model.Stamp" class="pending-right">
                        <i class="anticon anticon-tag"></i>
                        <span>{{model.Stamp}}</span>
                    </div>
                    <div class="pending-div">
                        <i class="anticon anticon-heart-o card-like-pointer"></i>
                        <span>{{model.Like}}</span>
                    </div>
                </div>
            </ng-template>
        </nz-card>
    </div>
</ng-template>