<div TasselFullContent #rootContent>
    <nz-layout TasselFullContent class="main-div">
        <nz-sider [nzWidth]="360" [nzCollapsedWidth]="0" [(nzCollapsed)]="!ShowSlider||HideAll" [nzTrigger]="null" class="slider-div">
            <div class="slider-inner">
                <p class="legend-title"><b>Websites</b></p>
            </div>
        </nz-sider>
        <nz-content class="content-div">
            <div class="content-head" *ngIf="!HideAll">
                <div class="avatar-group">
                    <nz-popover *ngIf="identity.IsLogined" [nzTitle]="CurrentUser.FriendlyName" [(nzVisible)]="ShowPopover" [nzTrigger]="'click'"
                        [nzPlacement]="'bottomRight'">
                        <div class="avatar-div" nz-popover>
                            <div *ngIf="CurrentUser.Photo">
                                <img [src]="CurrentUser.Photo" class="avatar-icon" />
                            </div>
                            <div *ngIf="!CurrentUser.Photo" [style.margin-right]="HeaRight">
                                <i class="anticon anticon-smile-o"></i>
                            </div>
                        </div>
                        <ng-template #nzTemplate>
                            <p> <a>Profile</a></p>
                            <p> <a (click)='Logout()'>Logout</a></p>
                        </ng-template>
                    </nz-popover>
                    <div *ngIf="!identity.IsLogined" class="login-div" [style.margin-right]="HeaRight">
                        <a routerLink="/user/login" routerLinkActive="acrive" class="register-part">Register</a>
                        <a routerLink="/user/login" routerLinkActive="acrive" class="login-part">Login</a>
                    </div>
                </div>
            </div>
            <div style="margin-left:18px">
                <p></p>
            </div>
            <div class="content-inner" [style.background]="ShowBack?'#fff':'transparent'">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</div>