<!--Header-->
<div class="head-div head-display" [class.head-display]="!ShowSlider&&!HideAll">
    <div class="head-inner-left">
        <nz-popover nzTitle="MENU" [(nzVisible)]="ShowMenu" [nzTrigger]="'click'" [nzPlacement]="'bottomLeft'">
            <a class="head-icon" nz-popover>
                <i class="anticon anticon-inbox"></i>
            </a>
            <ng-template #nzTemplate>
                <p class="root-menu-item">
                    <a [routerLink]="RouteLinks.Home" routerLinkActive="active">Home</a>
                </p>
                <p class="root-menu-item">
                    <a [routerLink]="RouteLinks.Status" routerLinkActive="active">Status</a>
                </p>
                <p class="root-menu-item">Posts</p>
                <p class="root-menu-item">Notes</p>
                <p *ngIf="identity.IsLogined&&(CurrentUser.Role==='admin'||CurrentUser.Role==='core')" class="root-menu-item">
                    <a [routerLink]="RouteLinks.AdminDashboard" routerLinkActive="active">Manage</a>
                </p>
            </ng-template>
        </nz-popover>
        <a class="legend-title noline-action" [routerLink]="RouteLinks.Home" routerLinkActive="active">
            <img src="assets/img/icon.jpg" style="width:36px;height:36px;border-radius:8px;margin-top:8px;" />
        </a>
        <a class="legend-title noline-action" [routerLink]="RouteLinks.Home" routerLinkActive="active">
            <b class="title-inhead noline-action">{{AppMain.Title}}</b>
        </a>
    </div>
    <div style="float:right">
        <nz-popover *ngIf="identity.IsLogined" [nzTitle]="CurrentUser.FriendlyName" [(nzVisible)]="ShowPopover" [nzTrigger]="'click'"
            [nzPlacement]="'bottomRight'">
            <div class="avatar-div" nz-popover>
                <div *ngIf="CurrentUser.Photo">
                    <img [src]="CurrentUser.Photo" class="avatar-icon avatar-small" />
                </div>
                <div *ngIf="!CurrentUser.Photo" class="avatar-icon avatar-blue avatar-small">
                    <i class="anticon anticon-user nologin-icon nologin-small"></i>
                </div>
            </div>
            <ng-template #nzTemplate>
                <p>
                    <a (click)="ToUserProfile()">Profile</a>
                </p>
                <p *ngIf="CurrentUser.Role==='admin'||CurrentUser.Role==='core'">
                    <a [routerLink]="RouteLinks.AdminDashboard" routerLinkActive="active">Manage</a>
                </p>
                <p>
                    <a (click)='Logout()'>Logout</a>
                </p>
            </ng-template>
        </nz-popover>
        <div *ngIf="!identity.IsLogined && !HideAll" class="avatar-icon avatar-dark avatar-small">
            <a [routerLink]="RouteLinks.Login" routerLinkActive="active">
                <i class="anticon anticon-user nologin-icon nologin-small"></i>
            </a>
        </div>
    </div>
</div>
<!--Header-->
<div TasselFullContent #rootContent>
    <nz-layout TasselFullContent class="main-div">
        <nz-sider [nzWidth]="360" [nzCollapsedWidth]="0" [(nzCollapsed)]="!ShowSlider||HideAll" [nzTrigger]="null" class="slider-div">
            <div class="slider-inner">
                <div class="slider-listgp">
                    <img src="assets/img/icon.jpg" style="width:160;height:160px;border-radius:32px" />
                    <p class="name-title">
                        <span>{{AppMain.Owner}}</span>
                    </p>
                    <p class="legend-title" [title]="AppMain.Description">
                        <b>{{AppMain.Title}}</b>
                    </p>
                    <hr style="margin-top:12px;" />
                    <div>
                        <ul class="slider-ul">
                            <li>
                                <p>
                                    <a [routerLink]="RouteLinks.Home" routerLinkActive="active">Home</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a [routerLink]="RouteLinks.Status" routerLinkActive="active">Status</a>
                                </p>
                            </li>
                            <li>
                                <p>Posts</p>
                            </li>
                            <li>
                                <p>Notes</p>
                            </li>
                            <li *ngIf="identity.IsLogined&&(CurrentUser.Role==='admin'||CurrentUser.Role==='core')">
                                <p>
                                    <a [routerLink]="RouteLinks.AdminDashboard" routerLinkActive="active">Manage</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nz-sider>
        <nz-content class="content-div">
            <div class="content-inner ctinner ctinner-none" [class.ctinner-none]="!ShowBack" #scrollDiv>
                <link rel="stylesheet" href="/assets/css/styles.css">
                <router-outlet></router-outlet>
            </div>
            <div *ngIf="ShowSlider" class="user-div">
                <nz-affix>
                    <nz-popover *ngIf="identity.IsLogined" [nzTitle]="CurrentUser.FriendlyName" [(nzVisible)]="ShowPopover" [nzTrigger]="'click'"
                        [nzPlacement]="'bottomRight'">
                        <div class="avatar-div" nz-popover>
                            <div *ngIf="CurrentUser.Photo">
                                <img [src]="CurrentUser.Photo" class="avatar-icon" />
                            </div>
                            <div *ngIf="!CurrentUser.Photo" class="avatar-icon avatar-blue">
                                <i class="anticon anticon-user nologin-icon"></i>
                            </div>
                        </div>
                        <ng-template #nzTemplate>
                            <p>
                                <a (click)="ToUserProfile()">Profile</a>
                            </p>
                            <p *ngIf="CurrentUser.Role==='admin'||CurrentUser.Role==='core'">
                                <a (click)="ToAdminDashboard()">Manage</a>
                            </p>
                            <p>
                                <a (click)='Logout()'>Logout</a>
                            </p>
                        </ng-template>
                    </nz-popover>
                    <div *ngIf="!identity.IsLogined && !HideAll" class="avatar-icon avatar-dark">
                        <a [routerLink]="RouteLinks.Login" routerLinkActive="active">
                            <i class="anticon anticon-user nologin-icon"></i>
                        </a>
                    </div>
                </nz-affix>
            </div>
        </nz-content>
    </nz-layout>
</div>