<div TasselFullContent>
  <nz-layout TasselFullContent class="layout">
    <nz-header style="background-color:#fff">
      <div class="logo"></div>
      <nz-popover *ngIf="identity.IsLogined" [nzTitle]="PopoverTitle" [(nzVisible)]="ShowPopover" [nzTrigger]="'click'">
        <div style="float:right" nz-popover>
          <div *ngIf="CurrentUser.WeiboUser">
            <img [src]="CurrentUser.WeiboUser.AvatarUrl" style="width:42px;height:42px;border-radius:50%;cursor:pointer" />
          </div>
          <div *ngIf="!CurrentUser.WeiboUser">
            <i class="anticon anticon-smile-o"></i>
          </div>
        </div>
        <ng-template #nzTemplate>
          <a (click)='Logout()'>Logout</a>
        </ng-template>
      </nz-popover>
      <div *ngIf="!identity.IsLogined" style="float:right">
        <a [href]="WeiboAuth">Login</a>
      </div>
      <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" style="line-height: 64px;">
        <li nz-menu-item><a routerLink="/index" routerLinkActive="active">Index</a></li>
        <li nz-menu-item>nav 2</li>
        <li nz-menu-item>nav 3</li>
      </ul>
    </nz-header>

    <nz-layout TasselFullContent style="padding:24px 48px;">
      <nz-layout TasselFullContent style="padding:12px 0px;background:#fff;border-radius:4px;">
        <nz-sider [nzWidth]="280" style="background:#fff">
          <ul nz-menu [nzMode]="'inline'" style="height:100%">
            <li nz-submenu>
              <span title><i class="anticon anticon-user"></i>subnav 1</span>
              <ul>
                <li nz-menu-item>option1</li>
              </ul>
            </li>
            <li nz-submenu>
              <span title><i class="anticon anticon-laptop"></i>subnav 2</span>
              <ul>
                <li nz-menu-item>option5</li>
              </ul>
            </li>
            <li nz-submenu>
              <span title><i class="anticon anticon-notification"></i>Settings</span>
              <ul>
                <li nz-menu-item><a routerLink="/settings" routerLinkActive="active">Overview</a></li>
              </ul>
            </li>
          </ul>
        </nz-sider>
        <nz-content>
          <div TasselFullContent>
            <router-outlet></router-outlet>
          </div>
        </nz-content>
      </nz-layout>
    </nz-layout>

  </nz-layout>
</div>