<nz-tabset nzTabPosition="top" nzSize="small">
    <nz-tab>
        <ng-template #nzTabHeading>
            Tieba
        </ng-template>
        <div *ngIf="TiebaImages" class="vm-tieba-group">
            <img class="vm-tieba-img" width="28" *ngFor="let img of TiebaImages" [title]="img.key" [alt]="img.key" [src]="Formator.ImageConnect(img.value)"
                (click)="StickerClicked(img)" />
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Weibo 01
        </ng-template>
        <div *ngIf="SinaPopStickers" class="vm-tieba-group">
            <img class="vm-tieba-img" width="36" *ngFor="let img of SinaPopStickers" [title]="img.key" [alt]="img.key" [src]="Formator.ImageConnect(img.value)"
                (click)="StickerClicked(img)" />
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Weibo 02
        </ng-template>
        <div *ngIf="SinaRoleStickers" class="vm-tieba-group">
            <img class="vm-tieba-img" width="36" *ngFor="let img of SinaRoleStickers" [title]="img.key" [alt]="img.key" [src]="Formator.ImageConnect(img.value)"
                (click)="StickerClicked(img)" />
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Others
        </ng-template>
        <div *ngIf="OthersStickers" class="vm-tieba-group">
            <img class="vm-tieba-img" width="36" *ngFor="let img of OthersStickers" [title]="img.key" [alt]="img.key" [src]="Formator.ImageConnect(img.value)"
                (click)="StickerClicked(img)" />
        </div>
    </nz-tab>
</nz-tabset>