
.wf-loading-div{
    margin-left: 8px;
    margin-right: 8px;
    padding-top:1vh;
    padding-bottom: 1vh;
    width: 98%;
    text-align: center;
}

.wf-loading-title{
    font-size: 18px;
    color: #2d9bce;
}

.wf-display{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    opacity: 1;
}

.wf-hidden{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    opacity: 0;
    margin-top:-9vh;
}
