<tassel-common-loading *ngIf="!VM" [animaWidth]=" '120px' " [marginTop]=" '240px' " [content]=" 'Loading...' | xi18n:'status' "
    [contentSize]=" '22px' ">
</tassel-common-loading>
<div *ngIf="VM" class="vm-padding">
    <div class="vm-content-base">
        <div *ngIf="VM.Creator" class="vm-header" nz-row nzType="flex" nzJustify="left">
            <div nz-col class="vm-avatar">
                <div *ngIf="VM.Creator.Avatar">
                    <img [src]="VM.Creator.Avatar" class="vm-avatar-icon" (click)="GoToUserRedirect(VM.Creator.UUID)" />
                </div>
                <div *ngIf="!VM.Creator.Avatar" class="vm-avatar-icon avatar-blue">
                    <i class="anticon anticon-user vm-nologin"></i>
                </div>
            </div>
            <div nz-col>
                <p class="vm-username">{{VM.Creator.UserName}}</p>
                <p class="vm-stamp">{{VM.CreateTime.FormatDate}}</p>
            </div>
        </div>
        <div class="vm-container">
            <div class="vm-details-formatdiv" [innerHtml]="VM.Content"></div>
            <br/>
            <tassel-common-imggrid gridType="grid" [width]="IsWideScreen?160:112" [images]="VM.ParseUrls(ImageSrcRoot)" [canPointer]="true"
                (ImageClicked)="OnImageClicked($event)"></tassel-common-imggrid>
            <div *ngIf=" Logined" class="modile-ctrlbar" nz-row>
                <div class="modile-section" nz-col [nzSpan]="IsWideScreen?3:8">
                    <ng-template [ngTemplateOutlet]="barSection" [ngTemplateOutletContext]="{css:'modile-addlike', icss:IsLiked?'heart':'heart-o', label:!IsLiked?'Like':'Dislike', todo:LikeStatus}"></ng-template>
                </div>
                <div class="modile-section" nz-col [nzSpan]="IsWideScreen?3:8">
                    <ng-template [ngTemplateOutlet]="barSection" [ngTemplateOutletContext]="{css:'modile-addcmt', icss:'message', label:'Reply', todo:OpenCommentPanel}"></ng-template>
                </div>
                <div class="modile-section" nz-col [nzSpan]="IsWideScreen?3:8">
                    <ng-template [ngTemplateOutlet]="barSection" [ngTemplateOutletContext]="{css:'modile-delete', icss:'delete', label:'Delete', todo:DeleteStatus}"></ng-template>
                </div>
            </div>
            <ng-template #barSection let-css="css" let-todo="todo" let-icss="icss" let-label="label">
                <div [class]="css" (click)="todo()">
                    <i [class]="(IsLiked?'islike ':'') + 'anticon anticon-' + icss"></i>
                    <span>{{label | xi18n:'status'}}</span>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="vm-comments-div">
        <div class="vm-comments-header" nz-row nzType="flex">
            <div nz-col>
                <a (click)="ShowDetails(true)" class="vm-header-actionlink">
                    <p>{{'COMMENT' | xi18n:'status'}} {{VM.CommentCount}}</p>
                </a>
            </div>
            <div nz-col>
                <a (click)="ShowDetails(false)" class="vm-header-actionlink">
                    <p>{{'LIKE' | xi18n:'status'}} {{VM.LikersCount}}</p>
                </a>
            </div>
            <div nz-col style="margin-top:6px;">
                <tassel-common-likersline [users]="VM.LikeUsers" [capacity]="8" (OnUserClicked)="GoToUserRedirect($event)"></tassel-common-likersline>
            </div>
        </div>
        <div class="vm-comments" nz-row>
            <tassel-common-comtedit [open]="IsEdit" (OnCommentAdd)="AddComment($event)" (OnCancel)="CloseCommentAdd()"></tassel-common-comtedit>
            <div class="vm-details-show vm-details-disappear" [class.vm-details-disappear]="!ShowComments">
                <div *ngIf="!VM.Comments||VM.Comments.length===0" class="vm-comt">
                    <p class="no-commit-p">There's no comment yet.
                        <span *ngIf="Logined">
                            <a (click)="OpenCommentPanel()">Add </a>a comment now.
                        </span>
                        <span *ngIf="!Logined"> If you want to add a comment, please
                            <a (click)="GoToLoginPage()">sign in </a>first.
                        </span>
                    </p>
                </div>
                <div class="vm-comt" *ngFor="let com of VM.Comments">
                    <tassel-common-comtdiv [comment]="com" (OnUserClicked)="GoToUserRedirect($event)" (OnCommentAdd)="AddComment($event)" (OnCommentDelete)="DeleteComment($event)"></tassel-common-comtdiv>
                </div>
            </div>

            <div class="vm-details-show vm-details-disappear" [class.vm-details-disappear]="ShowComments">
                <div class="vm-comt" *ngFor="let relation of VM.LikeUsers">
                    <tassel-common-likeuser [user]="relation" (OnUserClicked)="GoToUserRedirect($event)"></tassel-common-likeuser>
                </div>
            </div>

        </div>
    </div>
</div>