<div nz-row #indexDiv>

    <div nz-col [nzSpan]="Adaptor.Col | tasselAdaptor:1" #col01>
        <ng-template *ngFor="let post of Bindings[0]" [ngTemplateOutlet]="body">

        </ng-template>
    </div>

    <div *ngIf="Adaptor.Col>=2" nz-col [nzSpan]="Adaptor.Col | tasselAdaptor:2" #col02>
        <ng-template *ngFor="let post of Bindings[1]" [ngTemplateOutlet]="body">

        </ng-template>
    </div>

    <div *ngIf="Adaptor.Col>=3" nz-col [nzSpan]="Adaptor.Col | tasselAdaptor:3" #col03>
        <ng-template *ngFor="let post of Bindings[2]" [ngTemplateOutlet]="body">

        </ng-template>
    </div>

    <div *ngIf="Adaptor.Col>=4" nz-col [nzSpan]="Adaptor.Col | tasselAdaptor:4" #col04>
        <ng-template *ngFor="let post of Bindings[3]" [ngTemplateOutlet]="body">

        </ng-template>
    </div>

</div>