<div TasselPadding [PaddingDetails]="IsWideScreen?[16,8,0,8]:[0,0,0,0]">
    <tassel-common-waterfall *ngIf="IsWideScreen" [data]="Posts" [loader]="postsProvide" [template]="temp"></tassel-common-waterfall>
    <tassel-common-wateriver *ngIf="!IsWideScreen" [data]="Posts" [loader]="postsProvide" [template]="tempRiver"></tassel-common-wateriver>
</div>

<ng-template let-model="model" #temp>
    <div>aa + {{model}}</div>
    <div *ngIf="model">
        <nz-card class="card-div card-fadin" [nzBordered]="false">
            <ng-template #body>
                <div *ngIf="model.Cover" class="custom-image card-like-pointer">
                    <tassel-common-imggrid [src]="model.Cover"></tassel-common-imggrid>
                </div>
                <div class="custom-card card-like-pointer">
                    <h3 *ngIf="model.Title">{{model.Title}}</h3>
                    <p *ngIf="model.Summary" [style.margin-top]="model.Cover?'0px':'8px'">{{model.Summary}}</p>
                </div>
                <div class="pending">
                    <div *ngIf="model.Stamp" class="pending-right">
                        <i class="anticon anticon-tag"></i>
                        <span>{{model.Stamp}}</span>
                    </div>
                    <div class="pending-div">
                        <i class="anticon anticon-heart-o card-like-pointer"></i>
                        <span>{{model.Like}}</span>
                    </div>
                </div>
            </ng-template>
        </nz-card>
    </div>
</ng-template>

<ng-template let-model="model" #tempRiver>
    <div *ngIf="model" class="adp-card-div">
        <div nz-row>
            <div nz-row class="card-top-line">
                <div nz-col nzSpan="12" class="card-top-udiv">
                    <img width="16" src="/assets/img/unknown.png" />
                    <span class="card-top-user">{{'unknown user' | shortline:12}}</span>
                </div>
                <div nz-col nzSpan="12">
                    <span class="card-top-tip">TYPE</span>
                </div>
            </div>
            <div *ngIf="model.Cover" class="custom-image card-like-pointer">
                <tassel-common-imggrid [src]="model.Cover"></tassel-common-imggrid>
            </div>
            <div class="custom-card card-like-pointer">
                <h3 *ngIf="model.Title">{{model.Title}}</h3>
                <p *ngIf="model.Summary" [style.margin-top]="model.Cover?'0px':'8px'">{{model.Summary}}</p>
            </div>
            <div class="pending">
                <div *ngIf="model.Stamp" class="pending-right">
                    <i class="anticon anticon-tag"></i>
                    <span>{{model.Stamp}}</span>
                </div>
                <div class="pending-div">
                    <i class="anticon anticon-heart-o card-like-pointer"></i>
                    <span>{{model.Like}}</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>