
h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

hr {
    border-color: #fafafa;
}

::-webkit-scrollbar {
    transition: 0.6s;
    -o-transition:0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    opacity: 0px;
    width: 16px;
 }

 ::-webkit-scrollbar:hover{
    transition: 0.6s;
    -o-transition:0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    opacity: 1px;
    width: 16px;
 }

 ::-webkit-scrollbar-track {
     background-color:transparent;
     border-radius: 0px;
 }
  
 ::-webkit-scrollbar-thumb {
    background-color:rgba(1, 1, 1, 0.037);
    border-radius: 4px;
 }

 ::-webkit-scrollbar-thumb:hover {
     background-color:rgba(1, 1, 1, 0.147);
     border-radius: 4px;
}

@media(max-width:768px){
    ::-webkit-scrollbar {
        width: 4px;
     }
    
     ::-webkit-scrollbar-track {
         background-color:transparent;
         border-radius: 0px;
     }
      
     ::-webkit-scrollbar-thumb {
      transition: 1s;
      background-color:#a8a8a8;
      border-radius: 2px;
     }
    
     ::-webkit-scrollbar-thumb:hover {
         transition: 1s;
         background-color:#787878;
         border-radius: 2px;
    }
}
  