
@import './card.scss';

.card-div{
    width:93%;
    margin-left:3.5%;
    margin-right:3.5%;
    margin-bottom:7%;
  }

  .pending{
      margin-top:12px;
      margin-bottom:8px;
  }

  .pending-div{
      margin-left:12px;
      margin-right:12px;
  }

  .pending-div span{
    margin-left:4px;
    font-weight: bold;
}

.pending-right{
    float:right;
    margin-right:12px;
}

.pending-right span{
    font-weight: bold
}

.pending-right span{
    margin-left:4px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.card-fadin {
    animation-name: fadeIn; 
    animation-duration: 1s; 
    animation-iteration-count: 1;
    animation-delay: 0s; 
}