
  .card-div{
    width:93%;
    margin-left:3.5%;
    margin-right:3.5%;
    margin-bottom:7%;
  }

  .pending{
      margin-top:12px;
      margin-bottom:8px;
  }

  .pending-div{
      margin-left:12px;
      margin-right:12px;
  }

  .pending-div span{
    margin-left:4px;
    font-weight: bold;
}

.pending-right{
    float:right;
    margin-right:12px;
}

.pending-right span{
    font-weight: bold
}

.pending-right span{
    margin-left:4px;
}