/* You can add global styles to this file, and also import other style files */
body{
    padding-bottom: 0px;
    margin-bottom:0px;
    height: unset;
}

@font-face {
    font-family: 'NativeCenturyGothic';
    src: url('/assets/fonts/century-gothic.eot');
    src: url('/assets/fonts/century-gothic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/century-gothic.woff') format('woff'),
         url('/assets/fonts/century-gothic.ttf') format('truetype');
}

.full-content{
    /* position: relative; */
    /* max-height:100%; */
    /* font-family: "Century Gothic","SimSun Regular" */
    font-family: "NativeCenturyGothic","Microsoft YaHei"    
}


::-webkit-scrollbar {
    background-color: #cecece;
    width: 12px;
    padding:1px;
 }

 ::-webkit-scrollbar-track {
     background-color:transparent;
     border-radius: 0px;
 }
  
 ::-webkit-scrollbar-thumb {
    background-color:rgba(1, 1, 1, 0.237);
    border-radius: 2px;
 }

 ::-webkit-scrollbar-thumb:hover {
     background-color:rgba(1, 1, 1, 0.347);
     border-radius: 2px;
}

@media(max-width:768px){

     ::-webkit-scrollbar {
        width: 0px;
     }
    
     ::-webkit-scrollbar-track {
         background-color:transparent;
         border-radius: 0px;
     }
      
     ::-webkit-scrollbar-thumb {
      background-color:#a8a8a8;
      border-radius: 2px;
     }
    
     ::-webkit-scrollbar-thumb:hover {
         background-color:#787878;
         border-radius: 2px;
    }
}
  