
.main-div{
    background: #cecece;
}

.tassel-theme-light{
    background: #cecece;
}

.tassel-theme-dark{
    // background: #484848;
    background: #cecece;
}

.slider-div{
    margin:0.3%;
    border-radius:0px 2px 0px 0px;
    background:#fff;
    box-shadow: 0px 0px 32px #acacac;
}

.slider-inner{
    padding:0px;
    height:calc(100% - 72px);
}

.slider-listgp{
    text-align:center;
    margin-top:32px;
    padding-left:12px;
    padding-right:12px;
}

.slider-ul{
    margin-top:24px;
}

.slider-ul p{
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
    font-family: "NativeCenturyGothic", "Microsoft YaHei";
}

.slider-ul a{
   color: #787878;
   text-decoration: none
}

.slider-ul a:hover{
    color: #383838;
 }

.content-div{
    background:#cecece;
    -webkit-overflow-scrolling: touch;
}

.content-inner{
    margin:0.4%;
    margin-right:0.5%;
    margin-left:1.2%;
    min-height:99%;
    background:#fff;
}

// @media(max-width:1280px){
//     .content-inner{
//         margin:0%;
//         min-height:100%;
//         background:#fff;
//     }
// }

.content-inner-mobile{
    margin-top:64px;
}

.ctinner{
    transition: 0.4s;
    -o-transition:0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    background:#fff;
}

.ctinner-none{
    transition: 0.4s;
    -o-transition:0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    background:transparent;
}

.content-head{
    padding:8px;
    margin-left:11px;
    margin-right:11px;
    margin-top:8px;
    border-radius:2px;
    height:64px;
    background-color:transparent
}

.head-div{
    position: absolute;
    width:100%;
    height:64px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#181818), to(#484848));
    // z-index: 1;
    display:flex;
    justify-content:space-between;
    box-shadow: 0px 0px 4px #282828;
    opacity: 0;
    margin-top: -80px;
    transition: 0.4s;
    -o-transition:0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.head-display{
    opacity: 1;
    margin-top: 0px;
}

.head-inner-left{
    display:flex;
    margin-right:0px;
}

.head-icon {
    margin-left:16px;
    color:#fff;
}

.noline-action{
    text-decoration: none
}

.head-icon i{
    font-size:32px;
    line-height:64px;
}

.title-inhead{
    color: #dfdfdf;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    font-size: 28px;
    text-decoration: none;
}

.title-inhead:hover{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    color: #fff;
}

.avatar-group{
    float:right;
    margin-right:15px;
}

@media(min-width:768px){
    .avatar-div{
        margin-right:10px;
    }
}

.avatar-icon{
    width:48px;
    height:48px;
    transition: 0.5s;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 0px 0px 4px #686868;
}

.avatar-icon:hover{
    box-shadow: 0px 0px 8px #383838; 
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.avatar-content-size{
    font-size: 36px;
}

.nologin-icon{
    margin-left:4px;
    margin-top:6px;
    font-size:40px;
    color:#fff;
}

@media(max-width:768px){
    .avatar-icon{
        width:40px;
        height:40px;
    }

    .avatar-content-size{
        font-size: 28px;
    }

    .nologin-icon{
        margin-left:4px;
        margin-top:6px;
        font-size:32px;
        color:#fff;
    }
}

.avatar-small{
    margin:16px;
    width:32px;
    height:32px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.avatar-dark{
    background:#484848;
}

.avatar-blue{
background: #337DDF;
}

.user-div{
    position:absolute;
    bottom:20px;
    right:20px;
}

.nologin-small{
    margin-left:4px;
    margin-top:6px;
    font-size:24px;
    color:#fff;
}

.legend-title{
    margin-left:18px;
    margin-top:8px;
    font-size: 32px;
    font-family: "NativeCenturyGothic", "Microsoft YaHei";
    font-weight: bold;
}

.name-title{
    margin-top:4px;
    font-size: 14px;
}
