 .img-more{
     position: relative;
     background-color: #383838;
 }

 .img-more span {
   color: #fff;
   position: absolute;
   width:100%;
   float: right;
   bottom: 5%;
   left: 5%;
   font-weight: bold;
   font-size: 24px;
}