<div *ngIf="IsWideScreen">

    <div class="section-title">
        <span>User {{CommonUsers.length}}</span>
    </div>

    <div class="users-table">
        <nz-table #usersTable [nzDataSource]="CommonUsers" [nzPageSize]="IsWideScreen?10:5" nzSize="small" [nzCustomNoResult]="true">
            <div noResult>
                <ng-template [ngTemplateOutlet]="tableNoResult" [ngTemplateOutletContext]="{ loaded: loaded.users }"></ng-template>
            </div>
            <ng-template [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{ model: usersTable }"></ng-template>
        </nz-table>
    </div>

    <div class="section-title">
        <span>Admin {{AdminUsers.length}}</span>
    </div>

    <div class="users-table">
        <nz-table #adminsTable [nzDataSource]="AdminUsers" [nzPageSize]="IsWideScreen?10:5" nzSize="small" [nzCustomNoResult]="true">
            <div noResult>
                <ng-template [ngTemplateOutlet]="tableNoResult" [ngTemplateOutletContext]="{ loaded: loaded.admins }"></ng-template>
            </div>
            <ng-template [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{ model: adminsTable }"></ng-template>
        </nz-table>
    </div>

    <div class="section-title">
        <span>Core {{CoreUsers.length}}</span>
    </div>

    <div class="users-table">
        <nz-table #coresTable [nzDataSource]="CoreUsers" [nzPageSize]="IsWideScreen?10:5" nzSize="small" [nzCustomNoResult]="true">
            <div noResult>
                <ng-template [ngTemplateOutlet]="tableNoResult" [ngTemplateOutletContext]="{ loaded: loaded.cores }"></ng-template>
            </div>
            <ng-template [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{ model: coresTable }"></ng-template>
        </nz-table>
    </div>

</div>

<div *ngIf=" !IsWideScreen">
    <nz-collapseset nzAccordion>

        <nz-collapse [nzTitle]=" 'User' + ' ' + CommonUsers.length " [nzActive]="true">
            <nz-table #usersTable [nzDataSource]="CommonUsers" [nzPageSize]="IsWideScreen?10:5" nzSize="small" [nzCustomNoResult]="true">
                <div noResult>
                    <ng-template [ngTemplateOutlet]="tableNoResult" [ngTemplateOutletContext]="{ loaded: loaded.users }"></ng-template>
                </div>
                <ng-template [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{ model: usersTable }"></ng-template>
            </nz-table>
        </nz-collapse>

        <nz-collapse [nzTitle]=" 'Admin' + ' ' + AdminUsers.length ">
            <nz-table #adminsTable [nzDataSource]="AdminUsers" [nzPageSize]="IsWideScreen?10:5" nzSize="small" [nzCustomNoResult]="true">
                <div noResult>
                    <ng-template [ngTemplateOutlet]="tableNoResult" [ngTemplateOutletContext]="{ loaded: loaded.admins }"></ng-template>
                </div>
                <ng-template [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{ model: adminsTable }"></ng-template>
            </nz-table>
        </nz-collapse>

        <nz-collapse [nzTitle]=" 'Core' + ' ' + CoreUsers.length">
            <nz-table #coresTable [nzDataSource]="CoreUsers" [nzPageSize]="IsWideScreen?10:5" nzSize="small" [nzCustomNoResult]="true">
                <div noResult>
                    <ng-template [ngTemplateOutlet]="tableNoResult" [ngTemplateOutletContext]="{ loaded: loaded.cores }"></ng-template>
                </div>
                <ng-template [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{ model: coresTable }"></ng-template>
            </nz-table>
        </nz-collapse>

    </nz-collapseset>
</div>

<ng-template #tableNoResult let-loaded="loaded">
    <span *ngIf="loaded">没有数据</span>
    <tassel-common-loading *ngIf="!loaded" animaWidth="24px"></tassel-common-loading>
</ng-template>

<ng-template #tableTemplate let-model="model">
    <thead nz-thead>
        <tr>
            <th nz-th [width]="IsWideScreen?'30%':'70%' ">
                <b>UserName</b>
            </th>
            <th nz-th [width]="IsWideScreen?'18%':'30%' ">
                <b>Gender</b>
            </th>
            <th *ngIf="IsWideScreen" nz-th width="32%">
                <b>Action</b>
            </th>
            <th *ngIf="IsWideScreen" nz-th width="20%">
                <b>CreateTime</b>
            </th>
        </tr>
    </thead>
    <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of model.data">
            <td nz-td width="30%">
                <div class="userline">
                    <div *ngIf="data.Photo" class="avatar-circle">
                        <img [src]="data.Photo" class="avatar-icon" />
                    </div>
                    <div *ngIf="!data.Photo" class="avatar-circle">
                        <i class="anticon anticon-user default-icon"></i>
                    </div>
                    <a>{{data | adminUserDisplay}}</a>
                </div>
            </td>
            <td nz-td>{{data.Gender?'Male':'Female'}}</td>
            <td nz-td *ngIf="IsWideScreen">
                <span>
                    <!-- <a href="#">Action 一 {{data.name}}</a>
                    <span nz-table-divider></span>
                    <a href="#">Delete</a>
                    <span nz-table-divider></span> -->
                    <nz-dropdown>
                        <a class="ant-dropdown-link" nz-dropdown>
                            <span>Change role</span>
                            <i class="anticon anticon-down"></i>
                        </a>
                        <ul nz-menu>
                            <li nz-menu-item *ngIf="data.Role!=='user' ">
                                <a (click)="ChangeUserRole(data, 'user')">User</a>
                            </li>
                            <li nz-menu-item *ngIf="data.Role!=='admin' ">
                                <a (click)="ChangeUserRole(data, 'admin')">Admin</a>
                            </li>
                            <li nz-menu-item *ngIf="data.Role!=='core' ">
                                <a (click)="ChangeUserRole(data, 'core')">Core</a>
                            </li>
                        </ul>
                    </nz-dropdown>
                </span>
            </td>
            <td *ngIf="IsWideScreen" nz-td>{{data.CreateTime.FormatDateTime}}</td>
        </tr>
    </tbody>
</ng-template>